<div class="social-links">

    {% if site.team.twitter %}
    <a class="btn btn-social-icon btn-twitter" data-title="twitter.com/mariopalandi"
       href="http://twitter.com/mariopalandi" target="_blank">
        <span class="fa fa-twitter"></span>
    </a>
    {% endif %}

    {% if site.team.linkedin %}
    noop
    {% endif %}

    {% if site.team.youtube %}
    noop
    {% endif %}

    {% if site.team.github %}
    <a class="btn btn-social-icon btn-github" data-title="github.com/MARIOPA" href="https://github.com/MARIOPA"
       target="_blank">
        <span class="fa fa-github"></span>
    </a>
    {% endif %}

    {% if site.team.stackoverflow %}
    noop
    {% endif %}

    {% if site.team.quora %}
    noop
    {% endif %}

    {% if site.team.reddit %}
    noop
    {% endif %}

    {% if site.team.email %}
    <a class="btn btn-social-icon btn-openid"
       data-title="palacios.landi@gmail.com"
       href="mailto:palacios.landi@gmail.com">
        <span class="fa fa-envelope"></span>
    </a>
    {% endif %}
</div>
