<div class="social-links">

    {% if site.team.twitter %}
        <a class="link" data-title="twitter.com/mariopalandi" href="http://twitter.com/mariopalandi" target="_blank">
            <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
        </a>
    {% endif %}

    {% if site.team.linkedin %}
        <a class="link" data-title="linkedin.com/in/mariopalacios" href="http://linkedin.com/in/{{ site.team.linkedin }}" target="_blank">
            <svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg>
        </a>
    {% endif %}

    {% if site.team.youtube %}
        <a class="link" data-title="youtube.com/{{ site.team.youtube }}" href="http://youtube.com/{{ site.team.youtube }}" target="_blank">
            <svg class="icon icon-youtube"><use xlink:href="#icon-youtube"></use></svg>
        </a>
    {% endif %}

    {% if site.team.spotify %}
        <a class="link" data-title="open.spotify.com/user/{{ site.team.spotify }}" href="https://open.spotify.com/user/{{ site.team.spotify }}" target="_blank">
            <svg class="icon icon-spotify"><use xlink:href="#icon-spotify"></use></svg>
        </a>
    {% endif %}

    {% if site.team.lastfm %}
        <a class="link" data-title="last.fm/user/{{ site.team.lastfm }}" href="https://last.fm/user/{{ site.team.lastfm }}" target="_blank">
            <svg class="icon icon-lastfm"><use xlink:href="#icon-lastfm"></use></svg>
        </a>
    {% endif %}

    {% if site.team.github %}
        <a class="link" data-title="github.com/MARIOPA" href="https://github.com/MARIOPA" target="_blank">
            <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg>
        </a>
    {% endif %}

    {% if site.team.stackoverflow %}
        <a class="link" data-title="stackoverflow.com/users/{{ site.team.stackoverflow }}" href="http://stackoverflow.com/users/{{ site.team.stackoverflow }}" target="_blank">
            <svg class="icon icon-stackoverflow"><use xlink:href="#icon-stackoverflow"></use></svg>
        </a>
    {% endif %}

    {% if site.team.quora %}
        <a class="link" data-title="quora.com/profile/{{ site.team.quora }}" href="https://www.quora.com/profile/{{ site.team.quora }}" target="_blank">
            <svg class="icon icon-quora"><use xlink:href="#icon-quora"></use></svg>
        </a>
    {% endif %}

    {% if site.team.reddit %}
        <a class="link" data-title="reddit.com/user/{{ site.team.reddit }}" href="https://www.reddit.com/user/{{ site.team.reddit }}" target="_blank">
            <svg class="icon icon-reddit"><use xlink:href="#icon-reddit"></use></svg>
        </a>
    {% endif %}

    {% if site.team.medium %}
        <a class="link" data-title="medium.com/@{{ site.team.medium }}" href="https://medium.com/@{{ site.team.medium }}" target="_blank">
            <svg class="icon icon-medium"><use xlink:href="#icon-medium"></use></svg>
        </a>
    {% endif %}

    {% if site.team.orcid %}
        <a class="link" data-title="orcid.org/{{ site.team.orcid }}" href="http://europepmc.org/authors/{{ site.team.orcid }}" target="_blank">
            <svg class="icon icon-orcid"><use xlink:href="#icon-orcid"></use></svg>
        </a>
    {% endif %}

    {% if site.team.vimeo %}
        <a class="link" data-title="vimeo.com/{{ site.team.vimeo }}" href="https://vimeo.com/{{ site.team.vimeo }}" target="_blank">
            <svg class="icon icon-vimeo"><use xlink:href="#icon-vimeo"></use></svg>
        </a>
    {% endif %}

    {% if site.team.email %}
        <a class="link" data-title="mariopalacios@gmail.com" href="mailto:mariopalacios@gmail.com">
            <svg class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg>
        </a>
    {% endif %}
</div>
